<div class="toolbar" role="banner">
  <img class="logo-element" src="assets/img/logos/newshore-by_flyr-logo.svg"
    srcset="assets/img/logos/newshore-by_flyr-logo.svg" alt="Newshore">
  <div class="spacer"></div>
  <!-- <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle count-info" data-bs-toggle="dropdown" href="#" aria-expanded="false">
        <i class="bi bi-list"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="select-lang">
          <sa-language-selector></sa-language-selector>
        </li>
      </ul>
    </li>
  </ul> -->
  <sa-header></sa-header>
</div>

<div class="container">
</div>

<div class="box-content">
  <router-outlet></router-outlet>
  <app-flights></app-flights> 
</div>
 

<div class="footer">
  <footer id="footer" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a class="newshore-logo" href="/" title="Newshore">
          <img src="assets/img/logos/newshore-by_flyr-logo-inverse.svg" alt="Newshore">
        </a>
      </div>
      <div class="col-xs-6 col-sm-5">
        <h5>Global Headquarters:</h5>
        <h6>Newshore Barcelona</h6>
        <address>
          Ramon Turró 169, 3rd floor<br>08005 - Barcelona (Spain)<br>Tel: +34 932 726 760 <a
            href="mailto:info@newshore.es" title="info@newshore.es">info@newshore.es</a>
        </address>
      </div>
      <div class="col-xs-6 col-sm-4">
        <h5>Colombia Office:</h5>
        <h6>Newshore Manizales</h6>
        <address>
          Carrera 23 Nro 55 - 100<br>Manizales, Caldas (Colombia)<br>Tel: +57 6 885 20 42 <a
            href="mailto:info@newshore.es" title="info@newshore.es">info@newshore.es</a>
        </address>
      </div>
      <div class="col-xs-12">
        <div class="SocialIcons SocialIcons--base">
          <ul>
            <li>
              <a class="nsui-twitter--neg" href="https://twitter.com/NewshoreSG" target="_blank" title="Twitter">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a class="nsui-linkedin--neg" href="http://www.linkedin.com/company/newshore" target="_blank"
                title="Linkedin">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>